apiVersion: v1
kind: ConfigMap
metadata:
  name: {{deployenv}}map
  namespace: {{deployenv}}
data:
  sample.conf: |
    { "sample": {
         "db": "{{dbhost}}.rizak.com",
         "user": "{{dbuser}}"
      }
    }